body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.container {
    text-align: center;
    margin-top: 64px;
}

main {
    margin: 0 auto 0;
    width: 626px;
}


h1 {
    color: #3F3D56;
    font-family: 'Dosis', sans-serif;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
}

h1 strong {
    color: #EE24FF;
    font-weight: bold;
}

main p {
    color: #828282;
    margin: 16px 0;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
}

main p strong {
    color: #3F3D56;
    font-weight: bold;
}


footer {
    align-items: center;
    margin-top: 64px;
    width: 100%;
}

footer nav {
align-items: center;

}

footer nav ul {
    display: flex;
    justify-content: center;
    gap: 42px;
    list-style-type: none;
}

footer nav ul li a {
    text-decoration: none;
}

footer nav ul li {
    font-weight: bold;
    font-size: 15px;
    color: #3F3D56;
}

#wave {
    width: 100%;
}
